target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.iws
*.ipr

.vscode/
.settings/
.classpath
.project
.classpath

*.class
*.log
*.jar
*.war
*.ear
*.nar

.DS_Store
Thumbs.db

.mvn/
mvnw
mvnw.cmd